@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.tileHolder {
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: white;
padding-left: 25px;
padding: 25px 25px 25px 25px;
justify-content: center;
}
.tile {
background-color: grey;
margin: 10px 10px 10px 10px;
min-width: 100px;
width: 35%;
max-width: 800px;
height: 10%;
}
.tile label {
color: white;
text-align: center;
}
.tileHeader {
height: 1.0em;
text-align: center;
border-bottom-style: solid;
border-bottom-color: white;
border-bottom-width: 1px;
}
.tileContent {
text-align: center;
padding-top: 3%;
}
body {
background: #76b852; /* fallback for old browsers */
background: -webkit-linear-gradient(right, #5c72a8, #2a4faa);
background: -moz-linear-gradient(right, #5c72a8, #2a4faa);
background: -o-linear-gradient(right, #5c72a8, #2a4faa);
background: linear-gradient(to left, #5c72a8, #2a4faa);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}