<html>
  <head>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id = "main" class = "login-page">
      <h1 class = "Title">Account Information</h1>
      <form id = "finish" class="form">

        <label id = "username"></label><br><br>
        <label id = "Email"></label><br><br>
        <label id = "First"></label><br><br>
        <label id = "Last"></label><br><br>
        <label id = "Phone"></label><br><br>
        <label id = "Permission"></label><br><br>
        <button id = "redir">Home</button>
      </form>
    </div>
    <script src="js/account.js"></script>
  </body>
</html>
