<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/session.css">
  </head>
  <body>
    <div id = "mainer" class = "contentHolder">

      <div id = "toolbar" class = "toolbarHolder">
        <button id = "logout">Logout</button>
        <button id = "profile">Profile</button>
      </div>

      <div id = "contenter" class = "tileHolder">

        <div id = "tile1" class = "tile">
          <div id = "tile1header" class = "tileHeader">
            <label>Header</label>
          </div>
          <div id = "tile1content" class = "tileContent">
              <label>Content</label>
          </div>
        </div>
        <div id = "tile1" class = "tile">
          <div id = "tile1header" class = "tileHeader">
            <label>Header</label>
          </div>
          <div id = "tile1content" class = "tileContent">
              <label>Content</label>
          </div>
        </div>
        <div id = "tile1" class = "tile">
          <div id = "tile1header" class = "tileHeader">
            <label>Header</label>
          </div>
          <div id = "tile1content" class = "tileContent">
              <label>Content</label>
          </div>
        </div>
        <div id = "tile1" class = "tile">
          <div id = "tile1header" class = "tileHeader">
            <label>Header</label>
          </div>
          <div id = "tile1content" class = "tileContent">
              <label>Content</label>
          </div>
        </div>
        <div id = "tile1" class = "tile">
          <div id = "tile1header" class = "tileHeader">
            <label>Header</label>
          </div>
          <div id = "tile1content" class = "tileContent">
              <label>Content</label>
          </div>
        </div>
        <div id = "tile1" class = "tile">
          <div id = "tile1header" class = "tileHeader">
            <label>Header</label>
          </div>
          <div id = "tile1content" class = "tileContent">
              <label>Content</label>
          </div>
        </div>

      </div>

    </div>

    
    

    <script src="js/session.js"></script>
  </body>
</html>
